nav{
    background: rgb(27,27,27);
    background: linear-gradient(90deg, rgba(27,27,27,1) 0%, rgba(0,0,0,1) 50%, rgba(0,80,40,1) 100%);
}

#redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .2s;
}

#redes a:hover{
    transform: scale(1.2);
}

.dropdown-item:hover{
    background-color: #1a1a1a;
}

@media screen and (max-width:850px) {
    #redes{
        display: none;
    }
}