<footer class="bg-dark">
    <div class="legend">
        <p>Desarrollado por <b>{{ name }}</b> &copy; Web Developer - <span>{{ year }}</span></p>
        <div id="flag" style="margin-left: 10px; margin-right: 0;">
            <img src="./../../assets/img/Chile.png" alt="">
        </div>
    </div>
    <div id="redes">
        <a href="https://www.linkedin.com/in/ibaezar/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
        <a href="https://github.com/ibaezar" target="_blank"><i class="fa-brands fa-github"></i></a>
        <a href="https://wa.me/56936330855" target="_blank"><i class="fa-brands fa-whatsapp"></i></a>
    </div>
</footer>