<div class="index">
    <div class="container my-0">

        <div id="presentation">
            <p class="welcome">Bienvenid@s</p>
            <h2>A esta web desarrollada con Angular</h2>
            <p class="description">
                Esta web fue creada para consumir datos de un Api rest desarrollado con Java y Springboot
            </p>
            <br>
            <p class="text-info">¿Qué hace esta web?</p>
            <p class="text-center font-weight-light">Simplemente muestra la implementación de un CRUD, lo que, en palabras simples, sirve para obtener información desde una base de datos, poder crear nuevos registros, poder editarlos y también poder eliminarlos. Lo cual son las típicas funciones BASE de toda aplicación, ya sea Web, Escritorio o Mobile.
            <br>
            <h3 class="font-weight-bold technology-text">Tecnologías usadas</h3>
            <br>
            <section id="technologies" class="row mx-2">
                <div class="col-12 col-sm-6 col-md-3 technology" style="background-color: #f7083b">
                    <img src="/assets/img/technologies/angular.png" alt="">
                    <p>Angular</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 technology" style="background-color: #088fe9;">
                    <img src="/assets/img/technologies/typescript.png" alt="">
                    <p>Typescript</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 technology" style="background-color: #963cfd;">
                    <img src="/assets/img/technologies/bootstrap.png" alt="">
                    <p>Bootstrap</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 technology" style="background-color: #8d8c8c;">
                    <img src="/assets/img/technologies/json.png" alt="">
                    <p>JavaScript Object Notation</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 technology" style="background-color: #ff8550;">
                    <img src="/assets/img/technologies/html5.png" alt="">
                    <p>Html 5</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 technology" style="background-color: #467af1;">
                    <img src="/assets/img/technologies/css3.png" alt="">
                    <p>Css 3</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 technology" style="background-color: #f1d0a2;">
                    <img src="/assets/img/technologies/sweetalert2.png" alt="">
                    <p>Sweetalert2</p>
                </div>
                <div class="col-12 col-sm-6 col-md-3 technology" style="background-color: #1baeed;">
                    <img src="/assets/img/technologies/apirest.png" alt="">
                    <p>Api REST</p>
                </div>
            </section>
        </div>
    </div>
</div>